# Ignore Vault data
vault-data/

# Ignore Docker images and caches
*.tar
*.gz
.docker/

# Ignore temporary files
*.log
*.tmp

# Ignore large binaries
*.bin
*.iso
*.vdi
*.vmdk

# Terraform
.terraform/
*.tfstate
*.tfstate.backup

# Other common exclusions
*.log
*.zip
*.tar.gz