pid_file = "/var/run/vault/vault-agent.pid"


vault {
  address = "http://127.0.0.1:8200"
}

auto_auth {
  method "aws" {
    config = {
      type = "iam"
      role = "eks-role"
    }

    sink "file" {
      config = {
        path = "/etc/vault-token"
      }
    }
    }