pid_file = "/var/run/vault-agent.pid"

vault {
  address = "http://<vault_ip>:8200"
}

auto_auth {
  method "aws" {
    mount_path = "auth/aws"
    config = {
      type = "iam"
      role = "eks-role"
    }
  }
  sink "file" {
    config = {
      path = "/etc/vault/token"
    }
  }
}